<hr>
    <div class="row">
      <div class="span1">
        <p class="muted">Support</p>
        <p><a href="/tour">Tour</a></p>
        <p><a href="/setup">Setup</a></p>
        <p><a href="/privacy">Privacy</a></p>
        <p><a href="/help">Help</a></p>
      </div>
      <div class="span1">
        <p class="muted">About us</p>
        <p><a href="/about">About</a></p>
        <p><a href="/news">News</a></p>
        <p><a href="/contact">Contacts</a></p>
      </div>
      <div class="span1">
        <p class="muted">Community</p>
        <p><a href="#">Twitter</a></p>
        <p><a href="#">Facebook</a></p>
        <p><a href="#">Google+</a></p>
      </div>
      <div class="pull-right">
        <p class="muted">&copy; 2012 WebVirtCloud</p>
      </div>
    <div>