{% extends "base.html" %}
{% block title %}Storage Pool - WebVirtCloud{% endblock %}
{% load i18n %}
{% block content %}
    <div class="row">
      <div class="span3">
        <ul class="nav nav-tabs nav-stacked">
          <li>
            <a href="/home"><i class="icon-home"></i> Home</a>
          </li>
          <li>
            <a href="/servers"><i class="icon-th-large"></i> Instances</a>
          </li>
           {% if is_user %}
          <li>
            <a href="/support"><i class="icon-info-sign"></i> Support</a>
          </li>
          {% else %}
          <li class="active">
            <a href="/manage"><i class="icon-pencil"></i> Hosts</a>
          </li>
          <li>
            <a href="/users"><i class="icon-user"></i> Users</a>
          </li>
          {% endif %}
          <li>
            <a href="/order"><i class="icon-gift"></i> Orders</a>
          </li>
          <li>
            <a href="/flavor"><i class="icon-leaf"></i> Flavors</a>
          </li>
          <li>
            <a href="/log"><i class="icon-list-alt"></i> Logs</a>
          </li>
        </ul>
        {% include 'sidebar.html' %}
      </div> <!-- /span3 -->
      <div class="span7">
        <h2>Storage pool</h2>
        <p><a href="/host/{{ srv_id }}"><i class="icon-chevron-left"></i> Back</a></p>
        <hr>
        {% if errors %}
        {% for error in errors %}
        <div class="alert alert-block alert-error">
          <p>{{ error }}</p>
        </div>
        {% endfor %}
        {% endif %}

      <div class="row">
        {% if pool == 'add' %}
        <div class="span7">
          <a href="#poolModal" class="btn btn-success" data-toggle="modal">Add Pool</a>
          {% if not errors %}
          <div class="pagination-centered">
            <h4>You no have storages</h4>
          </div>
          {% endif %}
        </div>
        {% endif %}

        {% if info %}
        <div class="span7">
          <a href="#poolModal" class="btn btn-success" data-toggle="modal">Add Pool</a>
          <br><br>
        </div>
        <div class="span3">
          <p>{% trans "Pool name" %}</p>
          <p>{% trans "Pool type" %}</p>
          <p>{% trans "Pool path" %}</p>
          <p>{% trans "Size" %} ({{ info.1|filesizeformat }} / {{ info.2|filesizeformat }})</p>
          <p>{% trans "State" %}</p>
        </div>
        <div class="span3">
          <p>[{% for key, value in storages.items %} {% if key == pool %}<b>{{ pool }}</b>{% else %}<a href="/storage/{{ srv_id }}/{{ key }}">{{ key }}</a>{% endif %}{% endfor %} ]</p>
          <p>{% if not info.6 %}{% trans "None" %}{% else %}{{ info.6 }}{% endif %}</p>
          <p>{% if not info.7 %}{% trans "None" %}{% else %}{{ info.7 }}{% endif %}</p>
          <p>{{ info.4 }}%</p>
          <form action="/storage/{{ srv_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
            {% if info.5 = 0 %}
            <input type="submit" class="btn btn-primary" name="start" value="Start">
            <input type="submit" class="btn btn-danger" name="delete" value="Delete" onclick="return confirm('{% trans "Are you sure?" %}')">
            {% else %}
            <input type="submit" class="btn btn-primary" name="stop" value="Stop" onclick="return confirm('{% trans "Are you sure?" %}')">
            {% endif %}
          </form>
        </div>
        {% endif %}

        {% if info %}
        <div class="span7">
          <h3>Volumes</h3>
          <hr>
        {% if not info.5 = 0 %}
          <a href="#imgModal" class="btn btn-success" data-toggle="modal">Add Image</a>
          <br>
          <br>
        {% endif %}
      
        {% if volumes_info %}
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Size" %}</th>
              <th>{% trans "Format" %}</th>
              <th colspan="2">{% trans "Action" %}</th>
            </tr>
          </thead>
          <tbody>
           {% for key, value in volumes_info.items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ key }}</td>
            <td>{{ value.0|filesizeformat }}</td>
            <td>{{ value.1 }}</td>
            <td style="width:30px;">
            <div id="cloneModal{{ forloop.counter }}" class="modal hide fade">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>{% trans "Clone image" %} <font color="red">{{ key }}</font></h3>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" action="/storage/{{ srv_id }}/{{ pool }}/" method="post">{% csrf_token %}
                  <fieldset><br />
                    <div class="control-group">
                    <label class="control-label">{% trans "Name" %}</label>
                      <div class="controls">
                        <input type="text" class="input-large" name="new_img" placeholder="Name">
                        <input type="hidden" class="input-large" name="img" value="{{ key }}">.img
                      </div> 
                     </div> 
                  </fieldset>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
                    <input type="submit" class="btn btn-primary" name="clone" value="{% trans "Clone" %}">
                    </form>
                  </div>
                </div>            
                {% if value.1 != "iso" %}
                <a data-toggle="modal" href="#cloneModal{{ forloop.counter }}" class="btn btn-primary">Clone</a>
                {% else %}
                <a class="btn btn-primary disabled">Clone</a>
                {% endif %}
            </td> 
            <td style="width:30px;">
              <form action="/storage/{{ srv_id }}/{{ pool }}/" method="post" style="height:10px;">{% csrf_token %}
                <input type="hidden" name="img" value="{{ key }}">
                <input type="submit" class="btn btn-danger" name="delimg" value="Delete" onclick="return confirm('{% trans "Are you sure?" %}')">
              </form>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="pagination-centered">
          <h4>You no have volumes or storage pool not active</h4>
        </div>
        {% endif %}
        </div> <!-- /row -->
      {% endif %}

      <div id="poolModal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="poolModalLabel">Add New Storage Pool</h3>
        </div>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#1" data-toggle="tab">dir</a>
            </li>
            <li><a href="#2" data-toggle="tab">lvm</a></li>
          </ul>
        </div>
          <div class="tab-content">
            <div class="tab-pane active" id="1">
              <div class="modal-body">
                <form class="form-horizontal" action="/storage/{{ srv_id }}/add/" method="post">{% csrf_token %}
                  <fieldset><br />
                    <div class="control-group">
                      <label class="control-label">Type</label>
                      <div class="controls">
                        <input type="text" name="type" value="dir" disabled>
                        <input type="hidden" name="type" value="dir">
                      </div>
                     </div>
                    <div class="control-group">
                      <label class="control-label">Name</label>
                      <div class="controls">
                        <input type="text" name="name" class="input-large focused" placeholder="{% trans "default" %}">
                      </div>
                     </div>
                    <div class="control-group">
                      <label class="control-label">Path</label>
                      <div class="controls">
                        <input type="text" name="target" class="input-large focused" value="/var/lib/libvirt/images">
                      </div>
                    </div>
                </div>
              </fieldset>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Cancel</button>
                <input class="btn btn-success" name="addpool" type="submit" value="Submit">
                </form>
              </div>
            </div>
            <div class="tab-pane" id="2">
              <div class="modal-body">
                <form class="form-horizontal" action="/storage/{{ srv_id }}/add/" method="post">{% csrf_token %}
                  <fieldset><br />
                    <div class="control-group">
                      <label class="control-label">Type</label>
                      <div class="controls">
                        <input type="text" name="type" value="logical" disabled>
                        <input type="hidden" name="type" value="logical">
                      </div>
                     </div>
                    <div class="control-group">
                      <label class="control-label">Name</label>
                      <div class="controls">
                        <input type="text" name="name" class="input-large focused" placeholder="{% trans "guest_images_lvm" %}">
                      </div>
                     </div>
                    <div class="control-group">
                      <label class="control-label">Device</label>
                      <div class="controls">
                        <input type="text" name="source" class="input-large focused" value="/dev/sdb">
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class="modal-footer">
                  <button class="btn" data-dismiss="modal">Cancel</button>
                  <input class="btn btn-success" name="addpool" type="submit" value="Submit">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /poolModal -->

        <div id="imgModal" class="modal hide fade">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="imgModalLabel">Add New Image</h3>
          </div>
          <div class="modal-body">
          <form class="form-horizontal" action="/storage/{{ srv_id }}/{{ pool }}/" method="post">{% csrf_token %}
            <fieldset><br>
              <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                  <input type="text" name="name" class="input-large focused" placeholder="{% trans "Name" %}">
                </div>
               </div>
              <div class="control-group">
                <label class="control-label">Size</label>
                <div class="controls">
                  <select name="size">
                    {% for num in form_hdd_size %}
                    <option value="{{ num }}">{{ num }} {% trans "Gb" %}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <input class="btn btn-success" name="addimg" type="submit" value="Submit">
            </form>
          </div>
        </div> <!-- /imgModal -->

      </div> <!-- /span7 -->
    </div> <!-- /row -->
{% endblock %}